In [2]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

In [13]:
# 1 groupby

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 30,
                   'col2': np.random.rand(90),
                   'col3': np.random.randint(0, 15, 90)})

# groupby.agg(new_col_name = ('colname',agg_func on pd.Series))

(
    df
    .groupby('col1')
    .agg(
        sum_col2 = ('col2',np.sum), # perform aggregation
        distict_col2 = ('col2',lambda x: x.nunique()),
        collect_list_col3 = ('col3',lambda x : x.tolist()),
        collect_list_sampled_5_col3 = ('col3',lambda x : x.sample(3).tolist())
    )
)

,sum_col2,distict_col2,collect_list_col3,collect_list_sampled_5_col3
col1,,,,
apple,17.375621,30.0,"[3, 0, 9, 2, 12, 0, 2, 2, 3, 7, 11, 10, 0, 9, ...","[10, 14, 0]"
banana,16.334772,30.0,"[0, 4, 1, 9, 6, 7, 7, 7, 9, 10, 9, 0, 9, 14, 1...","[12, 11, 12]"
orange,15.642433,30.0,"[10, 10, 10, 4, 14, 1, 5, 14, 4, 12, 9, 7, 3, ...","[7, 13, 14]"

In [15]:
# case when pattern

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 30,
                   'col2': np.random.rand(90),
                   'col3': np.random.randint(0, 15, 90)})

df = (
    df
    .assign(
        col4 = (
           np.where(df['col2'] <= 5, '0_5',
           np.where(df['col2'] <= 15,'6_15',
           np.where(df['col2'] <= 25,'16_25',
           np.where(df['col2'] <= 50,'25_50',
           np.where(df['col2'] <= 100,'50_100',
            '100_'
                    )))))))
)

df.head()

     col1      col2  col3 col4
0   apple  0.339015    14  0_5
1  banana  0.830994    10  0_5
2  orange  0.063289     4  0_5
3   apple  0.807601    11  0_5
4  banana  0.421484     8  0_5